PORT=3001
NODE_ENV=development
FRONTEND_URL=http://localhost:5173

DB_SERVER=localhost
DB_PORT=1433
DB_DATABASE=PROFESOR
DB_USER=sa
DB_PASSWORD=TuPasswordFuerte123
DB_ENCRYPT=false
DB_TRUST_SERVER_CERTIFICATE=true

JWT_SECRET=CAMBIAR_ESTA_CLAVE_SUPER_SEGURA
JWT_EXPIRES_IN=8h

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_FOLDER=profe360

EMAIL_SIMULATION=true
WHATSAPP_SIMULATION=true
